body{
    margin : 15% 0% 0% 45%;
}

.title{
    color : black;
    line-height : 40px;
}

.title-content{
    display : block;
    opacity : 0;
    animation : revealText .5s forwards;
}

.title-second{
    animation-delay: .175s;
}

.title-third{
    animation-delay: .25s;
}

.title-fourth{
    animation-delay: .325s;
}

@keyframes revealText {
    from{
        transform : translateY(20px);
    }
    to{
        opacity : 1;
        transform : none;
    }
}

